<a href="https://colab.research.google.com/github/LinaPaolaChaparro/python/blob/main/fundamentoslina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

hola soy lina

In [ ]:
x = 17
y = 20
l = (x - y )
print(" el resultado es:" ,l)

 el resultado es: -3

Comentarios:

In [ ]:
#comentarios con una sola linea de codigo 
"""Esto es un comentario 
de varias lineas 
de codigo para que 
no se nos olvide
que estamos haciendo"""

'Esto es un comentario \nde varias lineas \nde codigo para que \nno se nos olvide\nque estamos haciendo'

palabra reservada print()

In [ ]:
#Imprimir en pantalla 
print("Este es nuestro primer programa en")
print('**************PHYTON*************')

Este es nuestro primer programa en
**************PHYTON*************

Tipos de Datos

In [ ]:
x = 15  #Entero   = int 
y = 42.5 #Flotante = float
b = "El resultado es: " #string = str
z = (x + y )
print(b,z)
print("****************Palabra reservada type()********************")
print("Tipo de dato x" , x,   ":", type(x))
print("Tipo de dato y" , y ,  ":", type(y))
print("Tipo de dato b" , b ,  ":", type(b))
print("Tipo de dato z" , z , ":",  type(z))

print("*************** Mas facilito*********************")
print(f"Tipo de dato x {x} : {type(x)}")
print(f"Tipo de dato x {y} : {type(y)}")
print(f"Tipo de dato x {b} : {type(b)}")
print(f"Tipo de dato x {z} : {type(z)}")

#Tipo de datos Cadena de caracteres - string 

nom_aprendiz = " Lina "
ape_aprendiz = "Chaparro"
corre_electronico = "lina.chaparro10@misena.edu.co"
print(f"El aprendiz se llama {nom_aprendiz}{ape_aprendiz}y su email es{corre_electronico}")

#Tipo de datos Booleanos
estado =True
estado_falso = False
print(f"Tipo de dato estado {estado} : {type(estado)}")
print(f"Tipo de dato estado_falso{estado_falso} : {type(estado_falso)}")

El resultado es:  57.5
****************Palabra reservada type()********************
Tipo de dato x 15 : <class 'int'>
Tipo de dato y 42.5 : <class 'float'>
Tipo de dato b El resultado es:  : <class 'str'>
Tipo de dato z 57.5 : <class 'float'>
*************** Mas facilito*********************
Tipo de dato x 15 : <class 'int'>
Tipo de dato x 42.5 : <class 'float'>
Tipo de dato x El resultado es:  : <class 'str'>
Tipo de dato x 57.5 : <class 'float'>
El aprendiz se llama  Lina Chaparroy su email eslina.chaparro10@misena.edu.co
Tipo de dato estado True : <class 'bool'>
Tipo de dato estado_falsoFalse : <class 'bool'>

sueldoOperarioBasico

In [ ]:
#P